
<div class="modal fade" id="detailModal<%= user.id %>" tabindex="-1" aria-labelledby="detailModalLabel<%= user.id %>" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="detailModalLabel<%= user.id %>">User  Detail</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <div class="container">
            <table class="table table-border-none">
            
                <tr>
                    <td rowspan="10">
                        <%= image_tag(user.profile.url, class: "profile-image") if user.profile.present? %>
                    </td>
                    <td><b>Name</b></td>
                    <td><%= user.name %></td>
                </tr>
                <tr>
                    <td><b>Type</b></td>
                    <td>
                        <% if user.utype == "0"%>
                        Admin
                        <%end%>
                        <% if user.utype == "1" %>
                        User
                        <%end%>
                    </td>
                </tr>
                <tr>
                    <td><b>Email</b></td>
                    <td><%= user.email %></td>
                </tr>
                <tr>
                    <td><b>Phone</b></td>
                    <td><%= user.phone %></td>
                </tr>
                <tr>
                    <td><b>Date of Birth</b></td>
                    <td><%= user.dob %></td>
                </tr>
                <tr>
                    <td><b>Address</b></td>
                    <td><%= user.address %></td>
                </tr>
                <tr>
                    <td><b>Created Date</b></td>
                    <td><%= user.created_at.strftime('%Y-%m-%d') %></td>
                </tr>
                <tr>
                    <td><b>Created User</b></td>
                    <td><%= user.name %></td>
                </tr>
                <tr>
                    <td><b>Updated Date</b></td>
                    <td><%= user.updated_at.strftime('%Y-%m-%d') %></td>
                </tr>
                <tr>
                    <td><b>Updated User</b></td>
                    <td><%= user.name %></td>
                </tr>
            </table>
        </div>
    </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>