




<div class="w-50 m-auto p-2">
    <i class="fs-5 fa-solid fa-arrow-left"></i>
    <%= link_to "Back to Edit Profile", edit_profile_path %>
</div>
<div class="w-50 m-auto"><p class="text-danger"><%= notice %></p></div>
<div class="w-50 m-auto" style="border:1px solid green;padding:0px; padding-bottom:20px;border-radius:5px">
    <div class="bg-success p-2  text-light">Change Password</div>
    <%= form_with model: current_user , url: edit_password_path do |f| %>
        <table class="mt-3" style="width:100%">
            <tr>
              <td><div class="d-flex justify-content-end"><%= f.label :old_password , "Current Password"%><span class="text-danger">*</span></div></td>
              <td colspan="2"><%= f.password_field :old_password, class: "form-control my-2 w-75 m-auto", autofocus: true, autocomplete: "password" %>
               <div class="m-auto w-75">
                  <% if current_user.errors[:old_password].any? %>
                  <span class="text-danger" ><%= current_user.errors[:old_password].first %></span>
                  <% end %>
               </div>
               <div class="m-auto w-75">
                  <% if current_user.errors[:wrong].any? %>
                  <span class="text-danger" ><%= current_user.errors[:wrong].first %></span>
                  <% end %>
               </div>
              </td>
            </tr>
            <tr>
                <td><div class="d-flex justify-content-end"><%= f.label :new_password , "New Password"%><span class="text-danger">*</span></div></td>
                <td colspan="2"><%= f.password_field :new_password, class: "form-control my-2 w-75 m-auto", autofocus: true, autocomplete: "new_password" %>
                <div class="m-auto w-75">
                  <% if current_user.errors[:new_password].any? %>
                  <span class="text-danger" ><%= current_user.errors[:new_password].first %></span>
                  <% end %>
                </div>
                </td>
            </tr>
            <tr>
                <td><div class="d-flex justify-content-end"><%= f.label :new_password_confirmation , "New Confirm Password"%><span class="text-danger">*</span></div></td>
                <td colspan="2"><%= f.password_field :new_password_confirmation, class: "form-control my-2 w-75 m-auto", autofocus: true, autocomplete: "new_password_confirmation" %>
                <div class="m-auto w-75">
                  <% if current_user.errors[:new_password_confirmation].any? %>
                  <span class="text-danger" ><%= current_user.errors[:new_password_confirmation].first %></span>
                  <% end %>
                </div>
                <div class="m-auto w-75">
                  <% if current_user.errors[:notmatch].any? %>
                  <span class="text-danger" ><%= current_user.errors[:notmatch].first %></span>
                  <% end %>
                  </div>
                </td>
            </tr>
            <tr>
                <td><td>
                <td><div class="w-75 m-auto my-2"><%= f.submit "Update Password",class: "btn btn-sm btn-primary" %></div></td>
            </tr>
        </table>
  
        <% end %>
    
</div>
