<div class="w-50 m-auto p-2">
    <i class="fs-5 fa-solid fa-arrow-left"></i>
    <%= link_to "Back to Edit Profile", edit_profile_path %>
</div>
<div class="w-50 m-auto" style="border:1px solid green;padding:0px; padding-bottom:20px;border-radius:5px">
    <div class="bg-success p-2  text-light">Change Password</div>
    <%= form_with(model: @user, local: true) do |f| %>
        <table class="mt-3" style="width:100%">
            <tr>
              <td><div class="d-flex justify-content-end"><%= f.label :old_password , "Current Password"%><span class="text-danger">*</span></div></td>
              <td colspan="2"><%= f.password_field :password, class: "form-control my-2 w-75 m-auto", autofocus: true, autocomplete: "email" %></td>
              <td>ddfdf<%= current_user.password %></td>
            </tr>
            <tr>
                <td><div class="d-flex justify-content-end"><%= f.label :new_password , "New Password"%><span class="text-danger">*</span></div></td>
                <td colspan="2"><%= f.password_field :new_password, class: "form-control my-2 w-75 m-auto", autofocus: true, autocomplete: "email" %></td>
            </tr>
            <tr>
                <td><div class="d-flex justify-content-end"><%= f.label :new_confirm_password , "New Confirm Password"%><span class="text-danger">*</span></div></td>
                <td colspan="2"><%= f.password_field :new_confirm_password, class: "form-control my-2 w-75 m-auto", autofocus: true, autocomplete: "email" %></td>
            </tr>
            <tr>
                <td><td>
                <td><div class="w-75 m-auto my-2"><%= f.submit "update_password", name: "commit", value: "Update Password", class: "btn btn-sm btn-primary" %></div></td>
            </tr>
        </table>
  
        <% end %>
    
</div>
