<div class="w-50 m-auto p-2">
    <i class="fs-5 fa-solid fa-arrow-left"></i>
    <%= link_to "Back", user_profile_path %>
</div>
<div class="w-50 m-auto" style="border:1px solid green;padding:0px; padding-bottom:20px;border-radius:5px">
      <div class="bg-success p-2  text-light">Profile Edit</div>
     <%= form_for(@user, url: update_profile_path, method: :post, multipart: true) do |f| %>
        <table style="width:100%">
          <tr>
            <td><div class="d-flex justify-content-end"><%= f.label :name ,"Name" %><span class="text-danger ms-2">*</span></div></td>
            <td><%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control m-auto w-75" %>
              <% if @user.errors[:name].any? %>
                  <span class="text-danger"><%= @user.errors[:name].first %></span>
              <% end %>
            </td>
          </tr>
          <tr>
          <td><div class="d-flex justify-content-end"><%= f.label :id ,"Name" %><span class="text-danger ms-2">*</span></div></td>
          <td><%= f.text_field :id, autofocus: true, autocomplete: "id", class: "form-control m-auto w-75" %>
            <% if @user.errors[:id].any? %>
                <span class="text-danger"><%= @user.errors[:id].first %></span>
            <% end %>
          </td>
        </tr>
          <tr>
            <td><div class="d-flex justify-content-end"><%= f.label :email ,"E-Mail Address"%><span class="text-danger ms-2">*</span></div></td>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "name", class: "form-control m-auto w-75" %>
              <% if @user.errors[:email].any? %>
                  <span class="text-danger"><%= @user.errors[:email].first %></span>
              <% end %>
            </td>
          </tr>
          <tr>
            <td><%= f.label :utype, "Type" , class: "float-end"%></td>
            <td>
              <%= f.select :utype, [["User ", 1], ["Admin", 0]], { include_blank: false }, { class: 'w-75 m-auto form-select' } %>
            </td>
          </tr>
          <tr>
            <td> <%= f.label :phone, "Phone",class: "float-end" %></td>
            <td>
                <%= f.text_field :phone, autocomplete: "phone" , class: "form-control m-auto w-75"  %>
                <% if @user.errors[:phone].any? %>
                  <span class="text-danger"><%= @user.errors[:phone].first %></span>
                <% end %>
            </td>
          </tr>
          <tr>
            <td> <%= f.label :dob, "Date of Birth",class: "float-end" %></td>
            <td>
                <%= f.date_field :dob, autocomplete: "dob" , class: "form-control m-auto w-75"  %>
                <% if @user.errors[:dob].any? %>
                  <span class="text-danger"><%= @user.errors[:dob].first %></span>
                <% end %>
            </td>
          </tr>
          <tr>
            <td> <%= f.label :address, "Address",class: "float-end" %></td>
            <td>
                <%= f.text_field :address, autocomplete: "address" , class: "form-control m-auto w-75"  %>
                <% if @user.errors[:address].any? %>
                  <span class="text-danger"><%= @user.errors[:address].first %></span>
                <% end %>
            </td>
          </tr>
          <tr>
            <td><div class="d-flex justify-content-end"><%= f.label :profile, "Old Profile",class: "float-end" %></div></td>
            <td>
               <%= image_tag(@user.profile.url, class: "main-profile-image my-3 ms-5") if @user.profile.present? %>
            </td>
          </tr>
          <tr>
            <td><div class="d-flex justify-content-end"><%= f.label :profile, "New Profile",class: "float-end" %></div></td>
            <td>
                <%= f.file_field :profile, autocomplete: "profile" , class: "form-control m-auto w-75"  %>
                <% if @user.errors[:profile].any? %>
                  <span class="text-danger"><%= @user.errors[:profile].first %></span>
                <% end %>
            </td>
          </tr>
         
          <tr>
          </br>
          <td></td>
            <td></td>
            <td>
              <%= f.submit "Edit", name: "commit", value: "Edit", class: "btn btn-sm btn-primary"%>
            </td>
          </tr>
        </table>
        <% end %>
</div>
<%= render "layouts/footer"%>


