<header>
    <%= render "layouts/header"%>
<header>
<div class="container" style="width:90%">
  <p style="color: green"><%= notice %></p>
  <% content_for :title, "Users" %>
  <% if current_user %>
  <div class="bg-success p-2 text-light">User List</div>
      <div class="row justify-content-end my-3">
          <form>
             <div class="d-flex justify-content-between">
              <div class="w-100">
                <label>Name:</label>
                <input type="text" name="name_keyword",value="<%= params[:name_keyword] %>" >
              </div>

              <div class="w-100">
                <label>Email:</label>
                <input type="text" name="email_keyword",value="<%= params[:email_keyword] %>" >
              </div>
              
              <div  class="w-100">
                <label>From:</label>
                <input type="date" name="from_keyword",value="<%= params[:from_keyword] %>" >
              </div>

              <div class="w-100">
                <label>To:</label>
                <input type="date" name="to_keyword", value="<%= params[:to_keyword] %>" >
              </div>

              <div class="w-100">
                <button type="submit" class="btn btn-success m-2">Search</button>
              </div>
             </div>
          </form>

         
      </div>
      <table class="table table-striped">
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Email</th>
                <th>Create User</th>
                <th>Phone</th>
                <th>Type</th>
                <th>Date of Birth</th>
                <th>Address</th>
                <th>Operation</th>
            </tr>
        <% @Users.each_with_index do |user , index|%>
            <tr>
                <td><%= index+1 %></td>
                <td><%= user.name%></td>
                <td><%= user.email%></td>
                <td><%= user.name%></td>       
                <td><%= user.phone%></td>
                <td>
                  <% if user.utype == "0"%>
                    Admin
                  <%end%>
                  <% if user.utype == "1" %>
                    User
                  <%end%>
                </td>
                <td><%= user.dob%></td>
                <td><%= user.address %></td>
                <td>
                <button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#detailModal<%= user.id %>">
                Detail
                </button>
                <%= render partial: 'detail_modal', locals: { user: user } %>


                <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal<%= user.id %>">
                Delete
                </button>
                <%= render partial: 'delete_modal', locals: { user: user } %>
                </td>
            </tr>
      <% end %>
    </table>
        <div class="d-flex justify-content-end">
                <%= paginate @Users %>
        </div>
    </div>
    <% end %>
</div>
<%= render "layouts/footer"%>



