<div class="modal fade" id="detailModal<%= post.id %>" tabindex="-1" aria-labelledby="detailModalLabel<%= post.id %>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detailModalLabel<%= post.id %>">Post  Detail</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <table class="table table-border-none">
            <tr>
              <td><b>Title</b></td>
              <td> <%= post.title %></td>
            </tr>
            <tr>
              <td><b>Description</b></td>
              <td> <%= post.description %></td>
            </tr>
            <tr>
              <td><b>Status</b></td>
              <td> 
                <% if post.status == 1 %>
                  Active
                <% end %>
                <% if post.status == 0 %>
                  Inactive
                <% end %>
              </td>
            </tr>
            <tr>
              <td><b>Created Date</b></td>
              <td> 
                <%= post.created_at.strftime("%Y-%m-%d") %>
              </td>
            </tr>
            <tr>
              <td><b>Created User</b></td>
              <td> 
                <%= current_user.name%>
              </td>
            </tr>
            <tr>
              <td><b>Updated User</b></td>
              <td> 
                <%= current_user.name%>
              </td>
          </tr>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> &nbsp;&nbsp;
      </div>
    </div>
  </div>
</div>