<header>
    <%= render "layouts/header"%>
<header>
<div class="container">
  <p style="color: green"><%= notice %></p>
  <% content_for :title, "Posts" %>
  <% if current_user %>
    <div class="bg-success p-2 text-light">Posts List</div>
      <div class="row justify-content-end mt-2">
          <form>
              <label>Keyword : </label>
              <input type="text" name="keyword">
              <button type="submit" class="btn btn-light">Search</button>
          </form>
          <%= link_to "Create", new_post_path, class:"col-1 mx-1 text-light p-2 bg-success rounded text-decoration-none"%> &nbsp;&nbsp;
          <%= link_to "Upload", upload_post_path, class:"col-1 mx-1 text-light p-2 bg-success rounded text-decoration-none"%> &nbsp;&nbsp;
          <%= link_to "Download", download_posts_csv_path, class:"col-1 mx-1 text-light p-2 bg-success rounded text-decoration-none"%>
      </div>
      <div id="posts">
        <table class='table table-striped'>
          <thead>
            <tr>
              <th>No.</th>
              <th>Post Title</th>
              <th>Post Description</th>
              <th>Posted User</th>
              <th>Posted Date</th>
              <th>Operation</th>
            </tr>
          </thead>
          <% if @posts.any?  %>
            <% @posts.each_with_index do |post, index| %>
              <tr>
                <td><%= index+1 %></td>
                <td><%= post.title %></td>
                <td><%= post.description %></td>
                <td><%= post.user.name%></td>
                <td><%= post.created_at.strftime("%Y-%m-%d")%></td>
                <td>
                  <div class="d-flex">
                    <%= link_to "Edit", edit_post_path(post),class:"btn btn-info" %> &nbsp;&nbsp;
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#detailModal<%= post.id %>">
                    Detail 
                    </button>&nbsp;&nbsp;
                    <%= render partial: 'detail_modal', locals: { post: post } %>
                     <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal<%= post.id %>">
                    Delete 
                    </button>&nbsp;&nbsp;
                    <%= render partial: 'delete_modal', locals: { post: post } %>
                </td>
              </tr>
            <% end %>
            <% else %>
              <tr>
                 <td colspan="7"><center>No data available in table</center></td>
              </tr>
            <% end %>
          </table>
          <div class="d-flex justify-content-end">
              <%= paginate @posts %>
          </div>
        
      </div>
  <% end %>
</div>
<%= render "layouts/footer"%>


